<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<form action="/register">
    <button> Register </button>

</form>

<form action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="username" required="required">
    <input type="password" name="password" id="password" placeholder="password" required="required">

    <input type="submit" value="Login">
</form>

<h3 th:text=${l} style="color: red;">  </h3 >


</body>
</html>